@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Special+Elite&display=swap');

body {
    background: #362a3d;
    background: linear-gradient(90deg, rgba(54, 42, 61, 1) 0%, rgba(109, 74, 128, 1) 50%, rgba(28, 43, 69, 1) 100%);
}

.nav-link{
    font-family: "Josefin Sans", sans-serif;
}

.btn{
    background-color:#1C2B45;
    border: 1px solid #1C2B45;
}
.btn:hover{
    background-color: #362a3d;
    border: 1px solid #362a3d;
}

.listening {
    background: #362a3d;
    background: linear-gradient(258deg, rgba(54, 42, 61, 1) 0%, rgba(109, 74, 128, 1) 75%, rgba(28, 43, 69, 1) 100%);
    border:#362a3d solid 1px;
}

.genre{
    font-family: "Special Elite", system-ui;

}

.card-header,.card-title,.card-text{
    font-family: "Josefin Sans", sans-serif;
}